body {
    background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin: 0;
}

hr {
    margin: 40px auto;
    border-top-width: 1px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-color: #ffffff;
}

#caution {
    margin: 0;
}

#main-body {
    padding: 50px;
    margin: 100px auto;
    background-color: white;
    width: 600px;
    max-width: 700px;
    min-width: 100px;
    box-shadow: 0 0 10px 0.1px #5A5C5E;
}