article {
    max-width: 49%;
}

body {
    background-color: ghostwhite;
    padding: 100px;
    font-family: sans-serif;
}

div {
    background-color: white;
    width: 80%;
    padding: 50px;
    max-width: 800px;
}

h1 {
    margin-bottom: 0;
}

hr {
border: auto;
border-color: grey;
border-top: 0;
margin: 40px;
margin-left: 0;
}

/* CLASSES */
.addressHead {
    font-weight: bold;
    margin-top: 50px;
}

.addressInput {
    margin-right: 5px;
    margin-top: 7px;
    margin-bottom: 15px;
}

.caution {
    margin-top: 5px;
}

.designation {
    font-weight: bold;
}

.longBox {
    width: 350px;
}

.recruiterBox {
    margin-top: 15px;
    margin-bottom: 0;
}

.shortInput {
    width: 100px;
}

.sideSpace {
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
} 

